.ellipsis {

    display: block !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    white-space: normal;
    font-weight: 600;
    /* height: 36px; */
    /* min-height: 42px; */
    /* font-size: 15px; */
    /* color: #29303B; */
    margin-bottom: 10px;
}

.label-image {
    margin-top: 20px;
}

.icon-size {
    font-size: 30px;
}

.icon-social-center {
    margin-left: 25px;
    margin-right: 25px;
}

.count-informations {
    padding-top: 30px;
    max-height: 150px;
}

.card :hover{
    cursor: pointer;
}

.card-top {
    background:rgba(0,0,0,.6);
}

.h-image-slider {
    height: 400px !important;
}

.card-button-more {
    margin: 1.25rem;
}

.btn-size {
    padding: 10px;
    margin-bottom: auto;
    margin-top: auto;
}

.input-search {
    background-color: #F2F3F5 !important;
    border-radius: 2%;
}

.rating-color {
    color: #ffc91a;
}

.icon-slider-informations {
    font-size: 60px;
    color: #ffc107;
}

.text-slider-informations {
    color: #fff;
}

.text-informations {
    color: #fff;
}

.btn-buscar-size {
    padding: 15px;
}

.btn-login {
    color: #ED9D3D !important;
    background-color: #fff !important;
    border-color: #ED9D3D;
}

.btn-cadastre-se {
    color: #fff !important;
    background-color: #ED393D !important;
}

.btn-cadastre-se:hover {
    background-color: #A5272A !important;
}

.btn-login:hover, .btn-login:focus, .btn-login:active {
    color: #fff !important;
    background-color: #ED9D3D !important;
}

.btn-menu {
    -webkit-border-radius: initial;
  -moz-border-radius: initial;
  -ms-border-radius: initial;
  border-radius: initial;
}

.image-associa-abed {
    max-height: 100px;
    width: auto;
}

.link-associa-abed-color:hover {
    text-decoration: underline;
    text-decoration-color: #2957A4;
}

.link-associa-abed-color {
    color: #2957A4;
}

.menu-whats-app-icon {
    color: #52AB6B;
    font-size: 30px;
}

#colorlib-testimony {
    padding-bottom: 2em;
}

/* SEARCH BAR */
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    background-color: #F2F3F5;
    border-radius: 2px;
    font-size: 13px;
}

.form-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    background-color: transparent;
    border-color: transparent;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    font-size: 13px;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.input-group .form-control {
    display: table-cell;
}

.form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 1.43;
    background-color: #F2F3F5 !important;
    color: #29303B;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CACBCC;
    border-radius: 2px;
    box-shadow: none;
    transition: border-color ease-in-out .08s,box-shadow ease-in-out .08s;
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
/* SEARCH BAR */    

.margin-todos-cursos {
    margin-top: 10%;
    margin-bottom: 10%;
}

.margin-video-institucional {
    margin-top: 5%;
}

.margin-social {
    margin-top: 5%;
    margin-bottom: 5%;
}

.receba-novidades {
    color: #fff;
}

.icon-meios-de-pagamento {
    font-size: 35px;
    color: #FFC300;
}

.footer-contatos {
    padding-left: 5%;
}

.footer-label-color {
    color: #262a2d !important;
}