<div id="quick-view-box" role="tooltip" class="fade in quick-view-box--box--3cUtO popover right" style="display: block; top: 1088px; left: 479.5px;">
    <div class="arrow" style="top: 38.6483%;"></div>
    <div class="popover-content">
        <div class="regular text-midnight-lighter quick-view-box--top--26Tmi">
            <span class="dib a11 mt10 mb10 quick-view-box--published-above--1JvM3">
                <span>Última atualização em: 07/2018</span>
            </span>
            <a href="/curso-excel-completo/" class="a10 bold text-midnight-light quick-view-box--title--3SbSa">
                <span data-purpose="quick-view-box-title">Do Básico ao Avançado - O Curso Completo de Microsoft Excel</span>
            </a>
            <div class="badge-with-context">
                <span class="tooltip-container course-badge--course-badge--1AN7r course-badge--with-context--2v79N">
                    <span data-purpose="badge" class="badge badge-accented yellow">
                        <span class="badge-text">Best Seller</span>
                    </span>
                </span>
                <span class="context-info" data-purpose="context-info">
                    <span>em
                        <a href="/courses/office-productivity/">Produtividade no escritório</a>
                    </span>
                </span>
            </div>
            <div class="fx-lc mt15 a11 quick-view-box--info--1dhH1">
                <div class="fx-c quick-view-box--lecture--2uhPl">
                    <span class="text-midnight-light a11 mr5 quick-view-box--icon--3C6Iw udi udi-play-circle"></span>
                    <span data-purpose="quick-view-box-lectures">88 aulas</span>
                </div>
                <div class="fx-c ml10 quick-view-box--content--6mxZ9">
                    <span class="text-midnight-light a11 mr5 quick-view-box--icon--3C6Iw udi udi-clock"></span>
                    <span data-purpose="quick-view-box-content-info">11,5 horas</span>
                </div>
                <div class="fx-c ml10 ellipsis quick-view-box--level--nWB_b">
                    <span class="text-midnight-light a11 mr5 quick-view-box--icon--3C6Iw udi udi-search-filter"></span>
                    <span data-purpose="quick-view-box-instructional-level">Todos os níveis</span>
                </div>
            </div>
        </div>
        <div class="oh fx-dc quick-view-box--bottom--RmaIC">
            <span class="a11 quick-view-box--headline--1a-2u" data-purpose="quick-view-box-headline">Aprenda Excel de forma completa e aplique seus conhecimentos construindo uma ferramenta avançada</span>
            <div class="a11 mt15 df quick-view-box--objectives-container--1N2yT">
                <ul class="quick-view-box--objectives--3GLJc">
                    <li class="fx-lt" data-purpose="quick-view-box-objective">
                        <div class="quick-view-box--objective-text--1ro4W">Sinta-se confiante e seguro usando o Excel</div>
                    </li>
                    <li class="fx-lt" data-purpose="quick-view-box-objective">
                        <div class="quick-view-box--objective-text--1ro4W">Consiga o trabalho/estágio que você quer!</div>
                    </li>
                    <li class="fx-lt" data-purpose="quick-view-box-objective">
                        <div class="quick-view-box--objective-text--1ro4W">Saiba montar planilhas de controle, de análise e para qualquer uso que queira</div>
                    </li>
                </ul>
            </div>
            <div class="fx-jsb">
                <div class="text-wrap quick-view-box--add-to-cart-button--3i-R5">
                    <div>
                        <button data-purpose="add-to-cart" type="button" class="styles--add-to-cart__button--3EPNS btn btn-lg btn-primary">
                            <div>
                                <span class="">Adicionar ao carrinho</span>
                            </div>
                        </button>
                    </div>
                </div>
                <button id="wishlist-button-566284" title="Adicionar à Lista de Favoritos" type="button" class="ml15 p10 wishlist-button--style-primary--3DnBS wishlist-button--wishlist-btn--3Xy6s btn btn-link">
                    <span class="sr-only">Lista de desejos</span>
                    <span class="wishlist-button--wish-icon--XnBJz udi udi-heart"></span>
                </button>
            </div>
        </div>
    </div>
</div>