<div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 231px;">
  <div>
    <div data-courseid="849470" data-ps="747" role="presentation" class="course-discovery-unit--card-margin--2TVw4 merchandising-course-card--card--2UfMa">
      <div data-purpose="quick-view-box-wrapper">
        <a href="/git-e-github-para-iniciantes/" data-purpose="merchandising-course-card-body-849470" target="_self" class="merchandising-course-card--mask--2-b-d">
          <span class="merchandising-course-card--card__options--3h6RM">
            <img alt="Git e Github para iniciantes" width="240" height="135" src="https://udemy-images.udemy.com/course/240x135/849470_788a_2.jpg"
              class="merchandising-course-card--card__image--upq5w" srcset="https://udemy-images.udemy.com/course/240x135/849470_788a_2.jpg 1x, https://udemy-images.udemy.com/course/480x270/849470_788a_2.jpg 2x">
          </span>
          <div class="merchandising-course-card--card__details--4coAj">
            <span>
              <span class="merchandising-course-card--details__name--mG8UB" data-purpose="course-card-title">Git e Github para iniciantes</span>
              <span class="merchandising-course-card--card__instructor-titles--2JzTX"
                data-purpose="course-card-instructor-titles">Willian Justen de Vasconcellos</span>
            </span>
            <div class="fx-jsb">
              <span data-purpose="details-rating" class="star-rating--details__rating--36AIt">
                <span class="star-rating--star-container--186zZ">
                  <div aria-label="Classificação: 4,5 de 5, 13.614 avaliações" data-purpose="star-rating-shell" class="star-rating-shell star-rating--star-rating--static--3wPvS star-rating--star-rating--tiny--2kjvX">
                    <div>
                      <span class="star-rating--review-star--Z6Nqj star-rating--review-star--unfilled--1aZxo"></span>
                      <span class="star-rating--review-star--Z6Nqj star-rating--review-star--filled--2D0bO" style="width: 100%;"></span>
                    </div>
                    <div>
                      <span class="star-rating--review-star--Z6Nqj star-rating--review-star--unfilled--1aZxo"></span>
                      <span class="star-rating--review-star--Z6Nqj star-rating--review-star--filled--2D0bO" style="width: 100%;"></span>
                    </div>
                    <div>
                      <span class="star-rating--review-star--Z6Nqj star-rating--review-star--unfilled--1aZxo"></span>
                      <span class="star-rating--review-star--Z6Nqj star-rating--review-star--filled--2D0bO" style="width: 100%;"></span>
                    </div>
                    <div>
                      <span class="star-rating--review-star--Z6Nqj star-rating--review-star--unfilled--1aZxo"></span>
                      <span class="star-rating--review-star--Z6Nqj star-rating--review-star--filled--2D0bO" style="width: 100%;"></span>
                    </div>
                    <div>
                      <span class="star-rating--review-star--Z6Nqj star-rating--review-star--unfilled--1aZxo"></span>
                      <span class="star-rating--review-star--Z6Nqj star-rating--review-star--filled--2D0bO" style="width: 50%;"></span>
                    </div>
                  </div>
                </span>
                <span class="star-rating--review__numbers-container--2euA-">
                  <span class="star-rating--reviews__stats--3ANGp" data-purpose="course-card-star-rating">4,5</span>
                  <span class="star-rating--reviews__count--1Zo2k" data-purpose="course-card-review-count">(13.614)</span>
                </span>
              </span>
            </div>
            <div class="merchandising-course-card--card__pricing--tRCgo" data-purpose="course-card-price-wrapper">
              <div data-purpose="price-text-container" class="price-text-container price-text--base-price__container--35GKL price-text--reverse--2drJ_">
                <div data-purpose="course-price-text" class="course-price-text price-text--base-price__discount--1HLbY price-text--black--W3rKx price-text--medium--5MLeb price-text--semibold--GtLXu price-text--base-price__discount--no-margin--3o7do">
                  <span class="sr-only">Preço atual</span>
                  <span>Gratuito</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>